h4 = "#{@clan_json['data']['name']}[#{@clan_json['data']['abbreviation']}]"
.small-6.columns
  h6 = "#{@clan_json['data']['members_count']} members"
  table
    - @clan_json['data']['members'].each do |member|
      tr
        td = member['account_name']
        td = member['role_localised']
        - if member["ratings"].nil?
          td Not active
        - else
          - if member['ratings']['battle_avg_performance']['value'].to_i > 52
            td.good = "#{member['ratings']['battle_avg_performance']['value']}%"
          - else
            td.bad = "#{member['ratings']['battle_avg_performance']['value']}%"
.small-6.columns.end
  h6 Vehicles count
  table
    - @vehicles.map{|s| s['name']}.uniq.each do |name|
      tr
        td = name
        td = image_tag "#{APP_CONFIG["development"][:wg_site]}/#{@vehicles.select{|a| a['name'] == name}.first['image_url']}"
        td = @vehicles.select{|a| a["name"] == name}.count