- if @json_object["data"]["items"].any?
  h1 = "Find #{@json_object["data"]["items"].count} clans"
  table
    - @json_object["data"]["items"].each do |clan|
      tr
        td = image_tag clan["clan_emblem_url"]
        td = "#{clan["name"]}[#{clan["abbreviation"]}]"
        td = link_to "Show more", clan_description_path(clan["id"])
- else
  h1 Clan not found