table
  - if @json_object["data"]["items"].any?
    h4 = "Find #{@json_object["data"]["items"].count} users"
    - @json_object["data"]["items"].each do |user|
      tr
        td
          h6 = user["name"]
        td
          = user["clan"].nil? ? 'no clan' : user["clan"]["tag"]
        td = link_to "View on wargaming website", "#{APP_CONFIG["development"][:wg_site]}/#{user["url"]}", target: '_blank'
  - else
    h1 User not found