.navbar.navbar-inverse
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar data-target=".nav-inverse" data-toggle="inverse"
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand href="/"NewTap
      .container-fluid.nav-inverse
        ul.nav
          li.divider-vertical
          li = sign_in_link
          li.divider-vertical
          li = link_to 'Sign up', new_user_registration_path
          li.divider-vertical
          li = link_to 'Members List', members_path
          li.divider-vertical
          li = link_to 'Admin panel', rails_admin_path if can? :access, :rails_admin
          li.divider-vertical
          - if can? :manage, Member
            li.dropdown
              a.dropdown-toggle#drop1 data-toggle="dropdown" href='#'
                | Battalions
                b.caret
              <ul class="dropdown-menu">
                <li><a href="/first_battalion">First Battalion</a></li>
                <li><a href="/second_battalion">Second Battalion</a></li>
                <li><a href="/third_battalion">Third Battalion</a></li>
              </ul>
            li.divider-vertical
            li = link_to 'Check Block Status', check_block_status_path
            li.divider-vertical
        - unless current_user.nil?
          ul.nav.pull-right
            li = link_to "Login as: #{current_user.login}", '#'