.span12
  .span8.offset2
    h1 Welcome!
  - @pages.each do |page|
    .row-fluid
      .span6.offset2
        h4 = page.title
      .span2
        h6 = page.created_at.strftime("%d %B  %Y")
    .row-luid.pages_content
      .span8.offset2
        = page.content