table.table
  thead
    tr
      th Owner
      th Blocked to
  tbody
    - @vehicles.each do |vehicle|
      tr
        td = vehicle.member.name
        - if vehicle.blocked_to.nil?
          td.good Active
        - else
          td.bad = vehicle.blocked_to.strftime('%d-%m-%Y %H-%M')

