$('.popover-content').html("<%=j (render 'vehicles') %>");
$('.popover-title').html("<%=j (@vehicles.first.name) %>")
$('.popover-title').append("<%=j (content_tag('span', 'Close', class: 'close_popover btn btn-mini')) %>")