/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require_tree .
 */

.footer {
  position: fixed;
  display: block;
  width: 100%;
  top: 100%;
  margin-top: -23px;
  text-align: center;
  color: #fff;
  background-color: #000;
  height: 80px;
  padding-top: 5px;
  font-weight: bold;
}

.alert-box .close{
  display: none;
}

div.alert-box {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

body div.container-fluid {
}

div.user_session {
  float: right;
}