// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.member_details, span.battalion_vehicle_details, span.vehicle_details {
  cursor: pointer;
}

span.member_details:hover {
  text-decoration: underline;
}

div.custom_modal {
  padding: 10px 15px 10px 10px;
  margin-top: -150px;
  position: absolute;
  display: none;
  width: 800px;
  border: 1px solid;
  background-color: #ccc;
}

div.custom_modal .close {
  float: right;
  cursor: pointer;
}

.popover .close_popover {
  float: right;
  margin-bottom: 5px;
}