// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row.pages_content {
  padding-bottom: 10px;
  border-bottom: 1px solid #777;
}