// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td.good {
  background-color: #5bb75b;
}

td.bad {
  background-color: #bd362f;
}