.span12
  - if @member.vehicles.empty?
    h6 No data to display
  - else
    .row-fluid
      .span6
        h6 10 lvl
        table
          - @member.vehicles.where(level: '10').each do |vehicle|
            tr
              td = get_image(vehicle.name)
              td = vehicle.name
      .span6
        h6 8 lvl
        table
          - @member.vehicles.where(level: '8').each do |vehicle|
            tr
              td = get_image(vehicle.name)
              td = vehicle.name