.row
  .span4.offset2
    - if can? :manage, Member
      = link_to 'Update member list', get_all_members_path, class: 'btn btn-primary'

.row-fluid
  .span4.offset2
    h2 Surreal
.row-fluid
  .span4.offset1
    h4 = "#{@members.count} members total"
    table.table
      thead
        tr
          th Name
          th Rank
          - if can? :manage, Member
            th Last update
            th Actions
      tbody
        - @members.each do |member|
          tr
            td
              = content_tag('span', member.name, class: 'member_details', data: {member_id: member.id})
            td = member.rank
            - if can? :manage, Member
              - if member.last_update.nil?
                td.bad Never
              - else
                  = last_update(member.last_update)
              td = link_to 'Get Vehicles', get_all_member_vehicle_path(member, member.account_id), class: 'btn btn-primary btn-mini'
  .span4.offset2
    h4 Vehicles
    table.table
      thead
        tr
          th
          th Name
          th Count
      tbody
        - Vehicle.where(level: '10').order('name').map(&:name).uniq.each do |v_name|
          tr
            th = get_image(v_name)
            th
              - if can? :manage, Member
                = content_tag('span', v_name, class: 'vehicle_details', data: {vehicle_name: v_name})
              - else
                = v_name
            th = get_count(v_name)
  .custom_modal
    .close X
    .content