$('.popover-content').html("<%=j (render 'details') %>");
$('.popover-title').html("<%=j (@member.name) %>")
$('.popover-title').append("<%=j (content_tag('span', 'Close', class: 'close_popover btn btn-mini')) %>")