.row
  .span4.offset2
    h2 Third Battalion
- if @vehicles.empty?
  .row
    .span4.offset2
      h4 No members found
- else
  .row-fluid
    .span4.offset2
      h4 = "#{@members.count} members total"
      table.table
        thead
          tr
            th Name
            th Rank
            - if can? :manage, Member
              th Last update
              th Actions
        tbody
          - @members.each do |member|
            tr
              td
                = content_tag('span', member.name, class: 'member_details', data: {member_id: member.id})
              td = member.rank
              - if can? :manage, Member
                - if member.last_update.nil?
                  td.bad Never
                - else
                  td.good = member.last_update.strftime('%d-%m-%Y %H-%M')
                td = link_to 'Get Vehicles', get_all_member_vehicle_path(member, member.account_id), class: 'btn btn-primary btn-mini'
    .span4
      h4 Vehicles
      table.table
        thead
          tr
            th
            th Name
            th Count
        tbody
          - @vehicles.map(&:name).uniq.each do |v_name|
            tr
              th = get_image(v_name)
              th
                - if can? :manage, Member
                  = content_tag('span', v_name, class: 'battalion_vehicle_details', data: {vehicle_name: v_name, battalion: 1})
                - else
                  = v_name
              th = @vehicles.where(name: v_name).count
    .custom_modal
      .close X
      .content